.debug {
    outline: 1px solid red;
}

/* main grid */
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "news"
                         "march"
                         "donate";
}

.news {
    grid-area: news;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news-items {
    display: flex;
    flex-direction: row;
}
.news-item {
    width: 300px;
    height: 200px;
}

.march {
    grid-area: march;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
}

.donate {
    grid-area: donate;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}

@media screen and (min-width: 760px) {
    main {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 2fr 3fr;
        grid-template-areas: "march  news"
                             "donate news";
    }

}

