@(nextMarch: March, donate: Donate, allNews: Seq[News])

@main("The Yellow Touch") {
  <main>

    <div class="march">
      <h2>Prochaine Manif</h2>
      <h3>Quand ?</h3>
      <p>@nextMarch.when</p>
      <h3>Où</h3>
      <p>@nextMarch.where</p>
    </div>

    <div class="donate">
      @if(donate.enable) {
        <h2>Cagnotte</h2>
        <p>@donate.baseline</p>
        <input type="number" value="@donate.defaultAmount" title="Montant" name="amount" />
        <button id="donate" style="color: @donate.actionLabelColor; background-color: @donate.actionColor">
          @donate.actionLabel
        </button>
      }
    </div>

    <div class="news">
      <div class="news-title">
        <h1>The Yellow Touch</h1>
      </div>
      <div class="news-items">
        @for(news <- allNews) {
          <div class="news-item">
            <h3>@news.title</h3>
            <img alt="@news.image" title="@news.image" src="/assets/images/news/@news.image" />
            <div class="news-item-tags">
              @for(tag <- news.tags) {
                <span>#@tag</span>
              }
            </div>
          </div>
        }
      </div>
    </div>

  </main>

  <script>
      document.getElementById("donate").onclick = function() {
        console.log("Donate !");
        fetch("/experiment/won/@donate.clientId").then(res => console.log(res));
      };
  </script>
}
