@(nextMarch: March, donate: Donate, allNews: Seq[News])

@main("The Yellow Touch") {
  <main>

    <div class="march">
      <h2>Prochaine Manif</h2>
      <p>@nextMarch.where</p>
      <p>@nextMarch.when</p>
    </div>

    <div class="donate">
      <h2>Cagnotte</h2>
      @if(donate.enable) {
        <p>@donate.baseline</p>
        <input type="number" value="@donate.defaultAmount" title="Montant" name="amount" />
        <button style="color: @donate.actionLabelColor; background-color: @donate.actionColor">
          @donate.actionLabel
        </button>
      } else {
        <p>Non disponible...</p>
      }

    </div>

    <div class="news">
      <h1>The Yellow Touch</h1>
      <div class="news-items">
        @for(news <- allNews) {
          <div class="news-item">
            <h3>@news.title</h3>
            <img alt="@news.image" title="@news.image" src="/assets/images/news/@news.image" />
            <div class="news-item-tags">
              @for(tag <- news.tags) {
                <span>#@tag</span>
              }
            </div>
          </div>
        }
      </div>
    </div>

  </main>
}
